@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --main-font:'Montserrat', sans-serif;


    --color1: #001011;
    --color2: #093a3e;
    --color3: #3aafb9;
    --color4: #64e9ee;
    --color5: #97c8eb;
    --background: #f9f9f9;

}

::selection{

    background-color: var(--color4);
    color: var(--background);
}

*{
    font-family: var(--main-font);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
}


